<div class="container">
  <div class="row flex-column flex-md-row">
    <div class="col mb-6">
      <div class="d-flex flex-column justify-content-between h-100">
        <div>
          <div class="d-flex align-items-center mb-3">
            <img
              class="img-1"
              src="../assets/images/Dough Dough (24) 1.png"
              alt="logo"
            />
            <p class="text-gray-950 fs-5 lh-1 ls-base ff-jf">碳吉學院</p>
          </div>
          <p class="text-171717 fs-8 ls-base mb-6">
            人生的每一步，都要聰明理財
          </p>
        </div>
        <ul class="d-flex">
          <li class="me-3">
            <a href="#" class="cursor-pointer">
              <img
                src="../assets/images/social-icon/facebook.png"
                alt="facebook"
                class="img-2"
            /></a>
          </li>
          <li class="me-3">
            <a href="#" class="cursor-pointer">
              <img
                src="../assets/images/social-icon/line.png"
                alt="line"
                class="img-2"
            /></a>
          </li>
          <li class="me-3">
            <a href="#" class="cursor-pointer">
              <img
                src="../assets/images/social-icon/IG.png"
                alt="IG"
                class="img-2"
            /></a>
          </li>
          <li>
            <a href="#" class="cursor-pointer">
              <img
                src="../assets/images/social-icon/x.png"
                alt="x"
                class="img-2"
            /></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col">
      <ul class="d-flex flex-column flex-sm-row justify-content-between">
        <li class="mb-6">
          <p class="text-primary-600 fs-6 fw-bold lh-sm ls-base mb-4">
            認識碳吉學院
          </p>
          <div class="d-flex flex-column">
            <a href="#" class="text-gray-950 text-decoration-none py-1"
              >關於我們</a
            >
            <a href="#" class="text-gray-950 text-decoration-none py-1"
              >最新消息</a
            >
            <a href="#" class="text-gray-950 text-decoration-none py-1"
              >聯絡我們</a
            >
            <a href="#" class="text-gray-950 text-decoration-none py-1"
              >常見問題</a
            >
          </div>
        </li>
        <li class="mb-6">
          <p class="text-primary-600 fs-6 fw-bold lh-sm ls-base">碳吉學員</p>
          <div class="d-flex flex-column">
            <a href="#" class="text-gray-950 text-decoration-none py-1"
              >所有課程</a
            >
            <a href="#" class="text-gray-950 text-decoration-none py-1"
              >熱門講師</a
            >
            <a href="#" class="text-gray-950 text-decoration-none py-1"
              >學生好評</a
            >
          </div>
        </li>
        <li class="mb-6">
          <p class="text-primary-600 fs-6 fw-bold lh-sm ls-base">碳吉老師</p>
          <div class="d-flex flex-column">
            <a href="#" class="text-gray-950 text-decoration-none py-1"
              >申請成為老師</a
            >
            <a href="#" class="text-gray-950 text-decoration-none py-1"
              >老師儀表板</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex flex-column flex-md-row pt-6 border-top border-1">
    <p class="text-gray-950 text-center py-md-1 mb-2 me-md-6">
      © 2024 碳吉學院 All Rights Reserved
    </p>
    <p class="text-center py-1">
      <span class="me-2 me-md-6">隱私權政策 </span> 使用者條款
    </p>
  </div>
</div>
