.close-btn {
  &:focus-visible {
    outline: 0;
    border: 0;
  }
}
.login-btn,
.signup-btn,
.forget-btn {
  color: $primary-600;
  &:hover {
    color: $primary-800;
  }
  &:focus-visible {
    outline: 0;
    border: 0;
  }
}
