#banner-search {
  color: $gray-100;
  &::placeholder {
    color: $gray-100;
  }
  &:focus-visible {
    border: 0;
    outline: 0;
  }
}

.swiper-course-card-1-prev,
.swiper-course-card-2-prev,
.swiper-course-card-3-prev {
  opacity: 0.5;
  background-color: white;
  border: 2px solid $gray-200;
  width: 40px;
  height: 40px;
  border-radius: 1000px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: "\ef7d";
    font-size: 24px;
    font-family: "material symbols outlined";
  }
}
.swiper-course-card-1-next,
.swiper-course-card-2-next,
.swiper-course-card-3-next {
  background-color: white;
  border: 2px solid $gray-200;
  width: 40px;
  height: 40px;
  border-radius: 1000px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: "\e941";
    font-size: 24px;
    font-family: "material symbols outlined";
  }
}

.swiper-ratings-card-prev {
  opacity: 0.5;
  background-color: $primary-600;
  color: white;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  margin-right: 16px;
  @media (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: -36px;
    transform: translateY(-50%);
  }
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: "\e5cb";
    font-size: 24px;
    font-family: "material symbols outlined";
  }
}

.swiper-ratings-card-next {
  background-color: $primary-600;
  color: white;
  width: 48px;
  height: 48px;
  border-radius: 100px;

  @media (min-width: 768px) {
    position: absolute;
    top: 50%;
    right: -36px;
    transform: translateY(-50%);
  }

  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: "\e5cc";
    font-size: 24px;
    font-family: "material symbols outlined";
  }
}
